.panel-default {
    border-color: @checking-panel-border;

    .panel-heading {
        background-color: @checking-panel-heading;

        .available-marker {
            border-radius: 4px;
            margin-top: -2px;

            font-weight: bold;
        }
    }

    .price-item {
        background-color: @checking-page-price-bg;

        span.badge {
            background-color: @checking-page-price-badge;
            font-size: 14px;
        }
    }

    .panel-footer {
        .adults {
            max-width: 64px;
        }
    }

    .date-interval {
        font-weight: normal;

        .price_per_one {
            margin-left: 24px;

            font-weight: bold;
            border-bottom: medium solid green;
        }
    }

}