@import "colors";
@import "check";
@import "errors";

A { color: @suite-name }

/* TODO: remove it*/
#reportrange {
    width: 350px;
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.breadcrumb {
    .text-success { color: @suite-name}
}

.booking-form {

    p {
        label {
            min-width: 120px;
        }

        .date-icon { color: @suite-name }
    }

}

.suite-table {

    tbody {
        tr {
            height: 120px;

            &:nth-of-type(2n+1) {
                background-color: @table-stripped-bg;
            }

            td {
                line-height: 3.0;

                .suite-name {
                    color: @suite-name
                }

                .btn-default {
                    background-color: @available-large-button-bg;
                    border: none;
                    text-transform: uppercase;
                    font-weight: bold;

                    &:hover {
                        background-color: @available-large-button-hover-bg;
                    }
                }
            }
        }
    }
}