<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Django Healthy Travel{% endblock %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "css/main.min.css" %}" rel="stylesheet">
</head>
<body>

    <div class="container-fluid">
        {% block nav %}
        <div class="row">
            <!-- nav -->
                    <p></p>
                    <ol class="breadcrumb">
                        <li class="active">Go Healthy Reservations</li>
                        <li class="active">{% block location %}FORM{% endblock %}</li>
                        <li class="active"><b class="text-success ">Today: {{ today }}</b></li>
                    </ol>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}
    </div>

</body>
</html>